<h1></h1>

<h2> My Inbox </h2>

<% @user_discussions.each do |user| %>
<div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3><%= user.first_name %></h3>
    <p><%= l(user.last_message(current_user).created_at, format: :short) %></p>
  </div>
  <div class="message-body">
    <p><strong><%= user.last_message(current_user).title %></strong></p>
    <p><%= user.last_message(current_user).content %></p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div>
</div>
  <% end %>

