<h1></h1>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/W1.png);">
      <div class="card-category">Traditionnel</div>
      <div class="card-description">
        <h6>Mariage traditionnel en Bourgogne</h6>
      </div>
    <img class="card-user" src="assets/couple.png">
    <a class="card-link" href="#" ></a>
  </div>
</div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/W2.png);">
      <div class="card-category">Traditionnel</div>
      <div class="card-description">
        <h6>Célébrons notre amour dans un château</h6>
      </div>
    <img class="card-user" src="assets/couple3.png">
    <a class="card-link" href="#" ></a>
  </div>
</div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/W3.png);">
        <div class="card-category">Chic</div>
        <div class="card-description">
          <h6>Cérémonie chic, thème Blanc</h6>
        </div>
      <img class="card-user" src="assets/couple4.png">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/W4.png);">
        <div class="card-category">Populaire</div>
        <div class="card-description">
          <h6>A la bonne franquette</h6>
        </div>
      <img class="card-user" src="assets/couple2.png">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/W5.png);">
        <div class="card-category">Populaire</div>
        <div class="card-description">
          <h6>Bienvenue dans la famille !</h6>
        </div>
      <img class="card-user" src="assets/couple5.png">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/W6.png);">
        <div class="card-category">Chic</div>
        <div class="card-description">
          <h6>Piscine, Champagne</h6>
        </div>
      <img class="card-user" src="assets/couple6.png">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/WD7.png);">
        <div class="card-category">En solo</div>
        <div class="card-description">
          <h6>J'ai décidé de me marier avec moi-même</h6>
        </div>
      <img class="card-user" src="assets/couple7.png">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(assets/W8.png);">
        <div class="card-category">Libertain</div>
        <div class="card-description">
          <h6>Interdit -18ans</h6>
        </div>
      <img class="card-user" src="assets/couple8.png">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>
